<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="z.pint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="z.pint.activity.MApplication"
        android:theme="@style/AppTheme">
        <activity android:name="z.pint.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 此处针对7.0以上版本适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="z.pint.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name = "z.pint.activity.MyWorksActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--主界面-->
        <activity android:name = "z.pint.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--画板界面-->
        <activity android:name = "z.pint.activity.WhiteBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--用户个人中心界面-->
        <activity android:name = "z.pint.activity.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--编辑用户信息界面-->
        <activity android:name = "z.pint.activity.EditInfoActtivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--作品详情界面-->
        <activity android:name = "z.pint.activity.WorksDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--用户粉丝-->
        <activity android:name = "z.pint.activity.UserFAActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--设置界面-->
        <activity android:name = "z.pint.activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--收藏界面-->
        <activity android:name = "z.pint.activity.CollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--发布作品界面-->
        <activity android:name = "z.pint.activity.ReleaseWorksActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!--选择标签-->
        <activity android:name = "z.pint.activity.SelectTagActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "z.pint.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


    </application>

</manifest>